<style>
    .input
    {
      display: flex;
      justify-content: center;
      padding: 1em;
    }

    .results
    {
      display: flex;
      justify-content: center;
    }
</style>

<div class="input">
  <label>Search the city: <input name="search" type="text" [(ngModel)]="search"/></label>
  <button (click)="doSearch()">Search</button>
</div>
<div class="results">
  <table *ngIf="cities?.length" border="1">
    <thead>
      <tr>
        <th>cityID</th>
        <th>cityName</th>
        <th>stateProvinceID</th>
        <th>latestRecordedPopulation</th>
        <th>lastEditedBy</th>
        <th>validFrom</th>
        <th>validTo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cities">
        <td>{{city.cityID}}</td>
        <td>{{city.cityName}}</td>
        <td>{{city.stateProvinceID}}</td>
        <td>{{city.latestRecordedPopulation}}</td>
        <td>{{city.lastEditedBy}}</td>
        <td>{{city.validFrom|date:'dd/MM/yyyy'}}</td>
        <td>{{city.validTo|date:'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
